.App {
  text-align: center;
}

/* button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 0 5px;
}

button:hover {
  background-color: #45a049;      
} */